<!---------------- SLIDE -------------- -->

<section data-markdown><script type="text/template">
  <aside class="notes">
  Erläuterungen
  </aside>

Die Expedition
==========

</script></section>




<!---------------- SLIDE -------------- -->

<section data-markdown><script type="text/template">
  <aside class="notes">
  Nur ganz kurz
  </aside>

Agenda
======

 * Struktur
 * Entwickeln
 * Releasen
 * Exoten
 * Fazit

</script></section>




<!---------------- SLIDE -------------- -->

<section data-markdown><script type="text/template">
  <aside class="notes">
  Disclaimer

  Wir haben einfach ein paar gute Bekannte in verschiedenen Unternehmen befragt, wie sie mit Git arbeiten.

  Das Folgende ist dabei herausgekommen.
  </aside>

Diese Analyse ist

**weder statistisch**

**noch repräsentativ**

sondern **rein anekdotisch**

und dabei hoffentlich aber ein wenig interessant und/oder unterhaltsam.

</script></section>





<!---------------- SLIDE -------------- -->

<section data-markdown><script type="text/template">
  <aside class="notes">
  Nicht weil wir brisante Informationen recherchiert haben.
  Investigativ Journalisten sind wir nicht geworden.
  Sondern weil wir zu faul waren, uns durch die Bürokratie die
  der Logo- und Namensveröffentlichungen zu quälen.

  </aside>

Wir haben die Unternehmen **anonymisiert**.



</script></section>




<!---------------- SLIDE -------------- -->

<section data-markdown><script type="text/template">
  <aside class="notes">
  </aside>

 * {% include_relative unternehmen/a.html %}
 * {% include_relative unternehmen/b.html %}
 * {% include_relative unternehmen/c.html %}
 * {% include_relative unternehmen/d.html %}
 * {% include_relative unternehmen/e.html %}
 * {% include_relative unternehmen/f.html %}
 * {% include_relative unternehmen/g.html %}

</script></section>





<!---------------- SLIDE -------------- -->

<section data-markdown><script type="text/template">
  <aside class="notes">
  </aside>

 * {% include_relative unternehmen/h.html %}
 * {% include_relative unternehmen/i.html %}
 * {% include_relative unternehmen/j.html %}
 * {% include_relative unternehmen/k.html %}
 * {% include_relative unternehmen/l.html %}
 * {% include_relative unternehmen/m.html %}

</script></section>





<!---------------- SLIDE -------------- -->

<section data-markdown><script type="text/template">
  <aside class="notes">
  </aside>

**1. Ergebnis:**

## Es ist nicht schwer Unternehmen zu finden, die Git nutzen.

</script></section>
