<!---------------- SLIDE -------------- -->

<section data-markdown><script type="text/template">
  <aside class="notes">
  Erläuterungen
  </aside>

Entwickeln
==========

</script></section>




<!---------------- SLIDE -------------- -->

<section data-markdown><script type="text/template">
  <aside class="notes">
  Frage-Folie
  </aside>

To branch<br/>or<br/>not to branch?
==================================

</script></section>




<!---------------- SLIDE -------------- -->

<section data-markdown><script type="text/template">
  <aside class="notes">
  Fallbeispiel
  </aside>

### Unternehmen: {% include_relative unternehmen/a.html %}

{% include_relative unternehmen/a-details.html %}

## Entscheidung: Entwickeln auf einem Branch

* Keine Featureorientiert QA
* Kein Issue-Tracking
* Versionsverwaltung nur als Backup und zur Revision

</script></section>




<!---------------- SLIDE -------------- -->

<section data-markdown><script type="text/template">
  <aside class="notes">
  Fallbeispiel
  </aside>

### Unternehmen: {% include_relative unternehmen/d.html %}

{% include_relative unternehmen/d-details.html %}

## Entscheidung: Feature-Branches

 * Eigenes komplexes Reporting ermöglicht Überblick, welche Änderungen für ein Release integriert wurden.
 * Statische Code-Analyse und Peer-Review vor dem Merge
 * Eclipse-basiertes Tooling erleichert Entwicklern den Feature-Workflow.

</script></section>


<!---------------- SLIDE -------------- -->

<section data-markdown><script type="text/template">
  <aside class="notes">
  Fallbeispiel
  </aside>

### Unternehmen: {% include_relative unternehmen/f.html %}

{% include_relative unternehmen/f-details.html %}

## Entscheidung: Feature Branches

Rechtliche Vorgaben für Code-Reviews und Tracking-der Änderungen, weil die Feature-Branches gut kontrollierbare Einheiten bilden.

</script></section>




<!---------------- SLIDE -------------- -->

<section data-markdown><script type="text/template">
  <aside class="notes">
  Frage-Folie
  </aside>

Merge<br/>oder<br/>Rebase?
==========================

</script></section>
<!---------------- SLIDE -------------- -->

<section data-markdown><script type="text/template">
  <aside class="notes">
  </aside>

Merge
=====

![Merge mit Branches](gemeinsamer-branch-merge.png)

</script></section>


<!---------------- SLIDE -------------- -->

<section data-markdown><script type="text/template">
  <aside class="notes">
  </aside>

Rebase
=====

![Rebase mit Branches](gemeinsamer-branch-rebase.png)

</script></section>




<!---------------- SLIDE -------------- -->

<section data-markdown><script type="text/template">
  <aside class="notes">
  Fallbeispiel
  </aside>

### Unternehmen: {% include_relative unternehmen/a.html %}

{% include_relative unternehmen/a-details.html %}

Entscheidung: Integration durchgängig per Rebase
------------------------------------------------

Historie wird nur als Backup und zum Auditing genutzt (Wer hat wann was geändert).
Die einfache lineare Historie genügt.


</script></section>


<!---------------- SLIDE -------------- -->

<section data-markdown><script type="text/template">
  <aside class="notes">
  Fallbeispiel
  </aside>

### Unternehmen: {% include_relative unternehmen/d.html %}

{% include_relative unternehmen/d-details.html %}

Entscheidung: Merge
---------------------------

 * Weniger initialer Schulungsaufwand
 * Eclipse-Tooling ist einfacher
 * Komplexe Historie wird nur als Auditing benutzt

</script></section>




<!---------------- SLIDE -------------- -->

<section data-markdown><script type="text/template">
  <aside class="notes">
  Ergänzung zu Frage-Folie
  </aside>

Böse Merge-Konflikte?
=====================

</script></section>




<!---------------- SLIDE -------------- -->

<section data-markdown><script type="text/template">
  <aside class="notes">
  Ergänzung zu Frage-Folie
  </aside>

Und was ist mit dem Task-Tracker?
=================================


</script></section>




<!---------------- SLIDE -------------- -->

<section data-markdown><script type="text/template">
  <aside class="notes">
  Fallbeispiel
  </aside>

### Unternehmen: {% include_relative unternehmen/f.html %}

{% include_relative unternehmen/f-details.html %}

Entscheidung: Issue-ID in jeder Commit-Message
-----------------------------------------

Nachvollziehbarkeit von Änderungen ist aufgrund rechtlicher Vorgaben erforderlich.

</script></section>




<!---------------- SLIDE -------------- -->

<section data-markdown><script type="text/template">
  <aside class="notes">
  Frage-Folie
  </aside>

Macht ihr Code-Reviews? Ehrlich?
--------------------------------

Diff to master<br/>oder<br/>Commit by Commit?
=============================================



</script></section>





<!---------------- SLIDE -------------- -->

<section data-markdown><script type="text/template">
  <aside class="notes">
  Fallbeispiel
  </aside>

### Unternehmen: {% include_relative unternehmen/h.html %}

{% include_relative unternehmen/h-details.html %}

Entscheidung: Commit by Commit
-------------------------------

Per Commit-Hook wird im Jenkins ein Build angestossen, und einem Mail mit Aufforderung zur Bestätigung durch Review verschickt. Vorteil: Es sind meist kleine überschaubare Einheiten zu Reviewen.

</script></section>





<!---------------- SLIDE -------------- -->

<section data-markdown><script type="text/template">
  <aside class="notes">
  Fallbeispiel
  </aside>

### Unternehmen: {% include_relative unternehmen/l.html %}

{% include_relative unternehmen/l-details.html %}

Entscheidung: Diff to master
----------------------------

Für ein Open-Source-Projekt sind Code-Reviews essenziell.
Pull-Requests, die eintreffen haben mitunter lange und verschlungene Commit-Historien. Meist ist es übersichtlicher, das Endergebnis zu betrachten.

Das Projekt hat früher mit Subversion gearbeitet. Der Github-Pull-Request macht es leichter zum Projekt beizutragen. Das Projekt erhält mehr Contributions als vorher.

</script></section>




<!---------------- SLIDE -------------- -->

<section data-markdown><script type="text/template">
  <aside class="notes">
  Ergänzung zur Frage-Folie
  </aside>

Habt ihr die History schön?
===========================

</script></section>




<!---------------- SLIDE -------------- -->

<section data-markdown><script type="text/template">
  <aside class="notes">
  Ergänzung zur Frage-Folie
  </aside>

Git bietet mächtige Möglichkeiten Historie aufzubereiten und (ggf. auch nachträglich) schön zu machen, z. B. `rebase --interacte`, `rebase --onto`, `filter-branch`, `notes`.

### Genutzt wird das kaum.
</script></section>




<!---------------- SLIDE -------------- -->

<section data-markdown><script type="text/template">
  <aside class="notes">
  Ergänzung zur Frage-Folie
  </aside>

Und was ist mit Gerrit?
=======================

</script></section>




<!---------------- SLIDE -------------- -->

<section data-markdown><script type="text/template">
  <aside class="notes">
  Frage-Folie
  </aside>

Schwierigkeiten mit Git
------------------------

Gibt's nicht!<br/>oder etwa doch?
=================================



</script></section>
