<!---------------- SLIDE -------------- -->

<section data-markdown><script type="text/template">
  <aside class="notes">
  Erläuterungen
  </aside>

Exoten
======

</script></section>




<!---------------- SLIDE -------------- -->

<section data-markdown><script type="text/template">
  <aside class="notes">
  Erläuterungen
  </aside>

  Unternehmen: **X, Startup, 1-10 Devs**
  -----------------------------------------

 * Versionierien ihre Belege und Rechnungen in Git
 * Stellen Steuerberater die "neuen" Belege als Verzeichnis zur Verfügung
 * Der Steuerberater arbeitet die Belege ab und verschiebt die Belege in anderes Verzeichnis
 * Versionierung der Abarbeitung durch den Steuerberater

</script></section>





<!---------------- SLIDE -------------- -->

<section data-markdown><script type="text/template">
  <aside class="notes">
  Erläuterungen
  </aside>

Konfigurationen überwachen

</script></section>




<!---------------- SLIDE -------------- -->

<section data-markdown><script type="text/template">
  <aside class="notes">
  Fallbeispiel
  </aside>

### Unternehmen: {% include_relative unternehmen/j.html %}

{% include_relative unternehmen/j-details.html %}

## Konfigurationen überwachen

Ein Script sammelt regelmäßig Konfigurationsdaten von verschiedenen Diensten eines komplexen Systems und committed sie in eine Git-Repository. So erhält man einen guten Überblick, wann was geändert wurde. Das hilft bei der Suche nach Ursachen von Problemen.


</script></section>




<!---------------- SLIDE -------------- -->

<section data-markdown><script type="text/template">
  <aside class="notes">
  Erläuterungen
  </aside>

 Beispiele für Git-Experten-Workshop auf der WJax
 ------------------------------------------------

 * Viele Beispiel-Repositories mit vielen Branches und Tags
 * Alle Beispiel-Repositories wurden in einem BitBucket-Repo zusammengefasst
 * Jedes Beispiel-Repo mit einem anderen Branch- bzw. Tag-Prefix
 * Nach dem Klonen des Gesamt-Repos erzeugt ein Gradle-Skript die richtigen Beispiel-Repos

</script></section>




<!---------------- SLIDE -------------- -->

<section data-markdown><script type="text/template">
  <aside class="notes">
  Erläuterungen
  </aside>

### Git

 * Für Newbies ist es total verwirrend.
 * Man steuert es mit kurzen Textbefehlen.
 * Die Antworten enthalten wichtige Informationen.
 * Deren Sinn erschließt sich aber oft erst später.
 * Es enthält ein paar wirklich knifflige Rätsel.
 * Die Lösungen sind klar und einleuchtend. Nachher.
 * Es gibt viele kleine Schätze, die man spät entdeckt, obwohl man schon oft daran vorbeigelaufen ist.
 * Wenn man die Abkürzungen kennt, kommt man viel schneller zum Ziel.

</script></section>




<!---------------- SLIDE -------------- -->

<section data-markdown><script type="text/template">
  <aside class="notes">
  Erläuterungen
  </aside>

 * Manche Dinge muss man oft wiederholen, bevor sie gelingen.
 * Es empfiehlt sich den Spielstand zu sichern, bevor man Schwieriges versucht.
 * Nachher fragt man sich oft, warum man das vorher so rätselhaft fand.
 * Wenn man ein Rätsel gelöst hat, stellt sich ein wohliges Glückseligkeitsgefühl ein.
 * Wenn man anderen davon erzählt, wird man für einen Nerd gehalten.

### Kurz: Git ist ein ...

</script></section>




<!---------------- SLIDE -------------- -->

<section data-markdown><script type="text/template">
  <aside class="notes">
  Erläuterungen
  </aside>

### ... exzellentes Textadventure!

Es fehlt eigentlich nur eine nette Rahmenhandlung.

</script></section>
