<!---------------- SLIDE -------------- -->

<section data-markdown><script type="text/template">
  <aside class="notes">
  Erläuterungen
  </aside>

Exoten
======

</script></section>




<!---------------- SLIDE -------------- -->

<section data-markdown><script type="text/template">
  <aside class="notes">
  Erläuterungen
  </aside>

  Unternehmen: **X, Startup, 1-10 Devs**
  -----------------------------------------

 * Versionierien ihre Belege und Rechnungen in Git
 * Stellen Steuerberater die "neuen" Belege als Verzeichnis zur Verfügung
 * Der Steuerberater arbeitet die Belege ab und verschiebt die Belege in anderes Verzeichnis
 * Versionierung der Abarbeitung durch den Steuerberater

</script></section>





<!---------------- SLIDE -------------- -->

<section data-markdown><script type="text/template">
  <aside class="notes">
  Erläuterungen
  </aside>

Konfigurationen überwachen

</script></section>




<!---------------- SLIDE -------------- -->

<section data-markdown><script type="text/template">
  <aside class="notes">
  Fallbeispiel
  </aside>

### Unternehmen: {% include_relative unternehmen/j.html %}

{% include_relative unternehmen/j-details.html %}

## Konfigurationen überwachen

Ein Script sammelt regelmäßig Konfigurationsdaten von verschiedenen Diensten eines komplexen Systems und committed sie in eine Git-Repository. So erhält man einen guten Überblick, wann was geändert wurde. Das hilft bei der Suche nach Ursachen von Problemen.


</script></section>




<!---------------- SLIDE -------------- -->

<section data-markdown><script type="text/template">
  <aside class="notes">
  Erläuterungen
  </aside>

 Beispiele für Git-Experten-Workshop auf der WJax
 ------------------------------------------------

 * Viele Beispiel-Repositories mit vielen Branches und Tags
 * Alle Beispiel-Repositories wurden in einem BitBucket-Repo zusammengefasst
 * Jedes Beispiel-Repo mit einem anderen Branch- bzw. Tag-Prefix
 * Nach dem Klonen des Gesamt-Repos erzeugt ein Gradle-Skript die richtigen Beispiel-Repos

</script></section>





<!---------------- SLIDE -------------- -->

<section data-markdown><script type="text/template">
  <aside class="notes">
  Erläuterungen
  </aside>

Git als Textadventure.

</script></section>
