---
title: "#conli2014"
description: ""
---
<!doctype html>
<html lang="en">

	<head>
		<meta charset="utf-8">

		<title>Git in freier Wildbahn</title>

		<meta name="description" content="Ein Vortrag über Git für die Continuous Lifecycle Konferenz 2014 Konferenz in Mannheim">
		<meta name="author" content="Bjørn Stachmann, René Preissel">

		<meta name="apple-mobile-web-app-capable" content="yes" />
		<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />

		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

		<link rel="stylesheet" href="../css/reveal.css">
		<link rel="stylesheet" href="../css/theme/coli2014.css" id="theme">

		<!-- For syntax highlighting -->
		<link rel="stylesheet" href="../lib/css/zenburn.css">

		<!-- If the query includes 'print-pdf', include the PDF print sheet -->
		<script>
			if( window.location.search.match( /print-pdf/gi ) ) {
				var link = document.createElement( 'link' );
				link.rel = 'stylesheet';
				link.type = 'text/css';
				link.href = '../css/print/pdf.css';
				document.getElementsByTagName( 'head' )[0].appendChild( link );
			}
		</script>

		<!--[if lt IE 9]>
		<script src="lib/js/html5shiv.js"></script>
		<![endif]-->
	</head>

	<body>

<div class="reveal">

	<div class="slides">

<section>{% include_relative start-slide.html %}</section>
<section>{% include_relative warum.html %}</section>
<section>{% include_relative die-expedition.html %}</section>
<section>{% include_relative struktur.html %}</section>
<section>{% include_relative entwicklung.html %}</section>
<section>{% include_relative releases.html %}</section>
<section>{% include_relative exoten.html %}</section>
<section>{% include_relative fazit.html %}</section>

	</div>

</div>

		<script src="../lib/js/head.min.js"></script>
		<script src="../js/reveal.js"></script>

		<script>

			// Full list of configuration options available here:
			// https://github.com/hakimel/reveal.js#configuration
			Reveal.initialize({
				controls: true,
				progress: true,
				history: true,
				center: true,

				theme: Reveal.getQueryHash().theme, // available themes are in /css/theme
				transition: Reveal.getQueryHash().transition || 'default', // default/cube/page/concave/zoom/linear/fade/none

				// Optional libraries used to extend on reveal.js
				dependencies: [
					{ src: '../lib/js/classList.js', condition: function() { return !document.body.classList; } },
					{ src: '../plugin/markdown/marked.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
					{ src: '../plugin/markdown/markdown.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
					{ src: '../plugin/highlight/highlight.js', async: true, callback: function() { hljs.initHighlightingOnLoad(); } },
					{ src: '../plugin/zoom-js/zoom.js', async: true, condition: function() { return !!document.body.classList; } },
					{ src: '../plugin/notes/notes.js', async: true, condition: function() { return !!document.body.classList; } }
				]
			});

		</script>

		<!-- Copyright (c) 2000-2012 etracker GmbH. All rights reserved. -->
<!-- This material may not be reproduced, displayed, modified or distributed -->
<!-- without the express prior written permission of the copyright holder. -->

<!-- BEGIN etracker Tracklet 3.0 -->
<script type="text/javascript">document.write(String.fromCharCode(60)+'script type="text/javascript" src="http'+("https:"==document.location.protocol?"s":"")+'://code.etracker.com/t.js?et=t9bebx">'+String.fromCharCode(60)+'/script>');</script>

<!-- etracker PARAMETER 3.0 -->
<script type="text/javascript">
/* Beginn des konfigurierbaren Parameterbereichs.
Um folgende Parameter zu verwenden, entfernen Sie bitte die führenden zwei Schrägstriche (//) und ergänzen den Parameter um den gewünschten Wert. */
//var et_pagename     = "";
//var et_areas        = "";
//var et_url          = "";
//var et_target       = "";
//var et_ilevel       = 0;
//var et_tval         = "";
//var et_cust         = 0;
//var et_tonr         = "";
//var et_tsale        = 0;
//var et_basket       = "";
//var et_lpage        = "";
//var et_trig         = "";
//var et_sub          = "";
//var et_se           = "";
//var et_tag          = "";
</script>
<!-- etracker PARAMETER END -->

<script type="text/javascript">_etc();</script>
<noscript><p><a href="http://www.etracker.com"><img style="border:0px;" alt="" src="https://www.etracker.com/nscnt.php?et=t9bebx" /></a></p></noscript>
<!-- etracker CODE NOSCRIPT 3.0 -->
<noscript>
<p><a href='http://www.etracker.de/app?et=t9bebx'>
<img style='border:0px;' alt='' src='https://www.etracker.de/cnt.php?
et=t9bebx&amp;v=3.0&amp;java=n&amp;et_easy=0
&amp;et_pagename=
&amp;et_areas=&amp;et_ilevel=0&amp;et_target=,0,0,0
&amp;et_lpage=0&amp;et_trig=0&amp;et_se=0&amp;et_cust=0
&amp;et_basket=&amp;et_url=&amp;et_tag=&amp;et_sub=
&amp;et_organisation=&amp;et_demographic=' /></a></p>
</noscript>
<!-- etracker CODE NOSCRIPT END-->

<!-- etracker CODE END -->

	</body>
</html>
