<div class="row">

  <div class="col-sm-1" align="right">
    <a href="/bjoern/index.html">
      <img src="/bjoern/bst.png" alt="Bjørn"/>
    </a>
  </div>

  <div class="col-sm-1" align="right">
    <a href="/rene/index.html">
      <img src="/rene/rene.png" alt="René"/>
    </a>
  </div>

  <div class="col-sm-8 blog-post-meta" align="left">
    Author: Bjørn Stachmann & René Preißel
    <br/>

    {% if page.date %}
       {{ page.date | date_to_long_string }}
       <br/>
    {% endif %}

    Bjørn:
    <a href="http://www.twitter.com/old_stachi">Twitter</a>
    <a href="http://www.xing.com/profile/Bjorn_Stachmann">Xing</a>
    <a rel="author" href="https://plus.google.com/107293837004630946370">Google+</a>
    <br/>
    René:
    <a href="http://etosquare.de/kontakt">Kontakt</a>
    <a href="https://plus.google.com/115215581515107905093/posts">Google+</a>
    <a href="http://www.xing.com/profile/Rene_Preissel">Xing</a>

  </div>

</div>
<br/>
