<hr>



<h4>Verbesserung, Feedback, Diskussion und Kommentare</h4>

<p class="text-muted">
  Eine klassische Kommentarfunktion haben wir hier nicht,
  aber das Blog ist
  <a href="/license.html">open source</a>.
  Sie können es jederzeit kopieren und weiter bearbeiten.
  Wenn Sie wollen,
  dass wir Ihre Änderungen übernehmen,
  stellen Sie einfach einen Pull-Request,
  Für Github-User geht das mit wenigen Klicks im Browser:
  <br/>
  <a class="btn btn-primary"
      href="https://github.com/kapitel26/kapitel26.github.com/tree/master/{{ page.path }}"
      target="_blank"
      role="button">
    Zum Quelltext von dieser Seite auf GitHub.
  </a>
</p>
