<hr>



<h4>Verbesserung, Feedback, Diskussion und Kommentare</h4>

<p class="text-muted">
  <p>
    Eine Kommentarfunktion hat unser Blog nicht.
    Wie Sie trotzdem dazu beitragen können, lesen Sie
    <a  data-toggle="collapse"
        href="#aboutPullRequests"
        role="button"
        aria-expanded="false"
        aria-controls="aboutPullRequests">
      hier ...
    </a>
    <div class="collapse" id="aboutPullRequests">
      Das Blog ist <em><a href="/license.html">open source</a></em>.
      Sie können die Quelltexte kopieren und weiter bearbeiten.
      Wenn Sie möchten,
      können Sie einen <em>Pull-Request</em> erstellen,
      damit wir Ihre Änderungen übernehmen.
      Wenn sie bereits <em>Github-User</em> sind geht das mit wenigen Klicks:

      <ol>
        <li>
          Quelltext dieser Seite
          <a class="alert-link" href="https://github.com/kapitel26/kapitel26.github.com/tree/master/{{ page.path }}"
              target="_blank">
            auf Github öffnen.
          </a>
        </li>
        <li>Edit-Button klicken. (Oder ein e tippen) <br/>
            <img src="/assets/decoration/github-edit-button.png" alt="Edit Button on Github." width="180px"/></li>
        <li>Beim Commit: Pull-Request erstellen<br/>
            <img src="/assets/decoration/github-commit-with-pull-request.png" alt="Edit Button on Github." width="380px"/></li>
        </li>
      </ol>
    </div>
    <p/>
    <a class="btn btn-primary"
    href="https://github.com/kapitel26/kapitel26.github.com/tree/master/{{ page.path }}"
    target="_blank"
    role="button">
      Zum Quelltext dieser Seite auf GitHub.
    </a>
  </p>
</p>
