<h4>Feedback, Diskussion und Kommentare</h3>


<table class="table">
  <tbody>
    <tr class="d-flex">
      <form method="POST" action="https://api.staticman.net/v2/entry/bstachmann/kapitel26-comments/master/comments">
        <input name="options[redirect]" type="hidden" value="{{ page.url | absolute_url }}"/>
        <input name="fields[url]" type="hidden" value="{{ page.url }}"/>
        <input name="fields[client_date]" type="hidden" value=" {{ "now" | date_to_rfc822 }}"/>
        <div class="form-group">
            <td class="col-9">
              <textarea id="messageField" name="fields[message]" class="form-control" placeholder="Dein Kommentar" rows="6"></textarea>
            </td>
            <td class="col-sm-3">
              <input id="nameField" name="fields[name]" type="text" class="form-control" placeholder="Dein Name"/>
              <small>Kommentare werden als Pull-Request behandelt und erscheinen hier erst <a href="https://github.com/bstachmann/kapitel26-comments/pulls">nach der Freigabe</a>.</small>
              <button type="submit" class="btn btn-primary btn-sm">Absenden</button>
              <br/>
            </td>
        </div>
      </form>

  </tbody>
</table>

<div class="embed-responsive embed-responsive-4by3">

  <iframe src="https://bstachmann.github.io/kapitel26-comments/comments.html?q={{ page.url }}" class="embed-responsive-item"/>
</div>
