<!-- Footer -->

<footer>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
          <p class="copyright text-muted">
            <a href="http://www.twitter.com/old_stachi" target="_blank">Bjørn auf Twitter</a>,
            <a href="http://www.xing.com/profile/Bjorn_Stachmann"target="_blank">Bjørn auf Xing</a>,
            <a href="http://www.twitter.com/RenePreissel" target="_blank">René auf Twitter</a>,
            <a href="http://www.xing.com/profile/Rene_Preissel"target="_blank">René auf Xing</a>
            <br/>
            <a href="/impressum">Impressum</a>,
            <a href="http://etosquare.de/kontakt" target="_blank">Kontakt</a>
            <a href="/license.html" target="_blank">Lizenz: Creative Commons BY-NC-ND</a>,
            <br/>
            Copyright &copy; {{ site.author }} {{ 'now' | date: "%Y" }}
          </p>
      </div>
    </div>
  </div>
</footer>

<hr>

{% include feedback.html %}
