<!-- Footer -->

<hr>

<h3>Feedback, Diskussion und Kommentare</h3>


<table class="table table-striped8">
  <tbody>
    <tr class="d-flex">
      <form method="POST" action="https://api.staticman.net/v2/entry/bstachmann/kapitel26-comments/master/comments">
        <input name="options[redirect]" type="hidden" value="{{ page.url | absolute_url }}"/>
        <input name="fields[url]" type="hidden" value="{{ page.url }}"/>
        <input name="fields[client_date]" type="hidden" value=" {{ "now" | date_to_rfc822 }}"/>
      <!--  <input name="options[slug]" type="hidden" value="{{ page.url | remove_first: "/" }}"> -->
        <div class="form-group">
            <td class="col-sm-2">
              <input id="nameField" name="fields[name]" type="text" class="form-control">
              <label for="nameField">Username</label>
            </td>
            <td class="col-10">
              <textarea id="messageField" name="fields[message]" class="form-control" rows="4"></textarea>
              <button type="submit" class="btn btn-primary">Absenden</button>
            </td>
        </div>
      </form>

    </tr>
<!--
    <tr class="d-flex">
      <td class="col-sm-2">Irgendwer</td>
      <td class="col-10">Hallo hallo!</td>
    </tr>
-->
  </tbody>
</table>

<hr>

<footer>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <ul class="list-inline text-center">
          {% if site.twitter_username %}
          <li class="list-inline-item">
            <a href="https://www.twitter.com/{{ site.twitter_username }}">
              <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
              </span>
            </a>
          </li>
          {% endif %}
          {% if site.facebook_username %}
          <li class="list-inline-item">
            <a href="https://www.facebook.com/{{ site.facebook_username }}">
              <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
              </span>
            </a>
          </li>
          {% endif %}
          {% if site.github_username %}
          <li class="list-inline-item">
            <a href="https://github.com/{{ site.github_username }}">
              <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-github fa-stack-1x fa-inverse"></i>
              </span>
            </a>
          </li>
          {% endif %}
        </ul>
        <p class="copyright text-muted">Copyright &copy; {{ site.author }} {{ 'now' | date: "%Y" }}</p>
      </div>
    </div>
  </div>
</footer>
