<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
  <div class="container">
    <a class="navbar-brand" href="{{"/" | relative_url }}">Kapitel 26</a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      Menu
      <i class="fa fa-bars"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="{{"/git-buch" | relative_url }}">Git-Buch</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://github.com/kapitel26/gitbuch-feedback/blob/master/feedback-git-buch-auflage-4.md" target="_blank">Errata</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{"/bjoern" | relative_url }}">Bjørn</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{"/rene" | relative_url }}">René</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{"/posts" | relative_url }}">Posts</a>
        </li>
        <li class="nav-item dropdown">
          <a  class="nav-link dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Info</a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="/impressum">Impressum</a>
            <a class="dropdown-item" href="/datenschutz">Datenschutz</a>
            <a class="dropdown-item" href="/license.html">Lizenz</a>
            <a class="dropdown-item" href="/making-of">"Making of"</a>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>
