
<div class="row">
  <div class="col-sm-2" align="right">
    <a href="/rene/index.html">
      <img src="/rene/rene.png" alt="René"/>
    </a>
  </div>
  <div class="col-sm-6 blog-post-meta" align="left">
    Author: René Preißel{% if page.date %},
      / {{ page.date | date_to_long_string }}<br/>
    {% endif %}
    <a href="http://etosquare.de/kontakt">Kontakt</a>
    <a href="https://plus.google.com/115215581515107905093/posts">Google+</a>
    <a href="http://www.xing.com/profile/Rene_Preissel">Xing</a>
  </div>
</div>
<br/>
