---
theme :
  name : kapitel26
---
{% assign BASE_PATH = nil %}

<!DOCTYPE html>
<html lang="de">
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    {% if page.description %}<meta name="description" content="{{ page.description }}">{% endif %}
    <meta name="author" content="{{ site.author.name }}">

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le styles -->
    <link href="/assets/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/assets/css/style.css?body=1" rel="stylesheet" type="text/css" media="all">
    <link rel="alternate" type="application/rss+xml" title="RSS Feed for mysite.com" href="/atom.xml" />

    <!-- Le fav and touch icons -->
  <!-- Update these with your own images
    <link rel="shortcut icon" href="images/favicon.ico">
    <link rel="apple-touch-icon" href="images/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png">
  -->
    <meta name="google-site-verification" content="L2SRdiaRX4CbFkVt0oNZy8i3wwV1YKPIQo9KQxMPYDA" />
  </head>
  <body>
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#"><code>kapitel-26</code></a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            {% assign pages_list = site.pages %}
            {% assign group = 'navigation' %}
            {% for weight in (1..10) %}
              {% for node in pages_list %}
                {% if node.title != null and node.weight != null and node.weight == weight  %}
                  {% if group == null or group == node.group %}
                    <li><a href="{{ BASE_PATH }}{{node.url}}">{{node.title}}</a></li>
                  {% endif %}
                {% endif %}
              {% endfor %}
            {% endfor %}
          </ul>
        </div><!--/.nav-collapse -->
      </div><!--/.container-fluid -->
    </nav>



    <div class="container">

      <div class="content">
        {{ content }}
      </div>

      <footer>
        <p>&copy; {{ site.author.name }} 2014.
          <a href="/impressum/index.html" title="Impressum">Impressum</a>,
          <a href="/datenschutz/index.html" title="Datenschutz">Datenschutz</a>.
        </p>
      </footer>

    </div> <!-- /container -->

		{% include etracker.html %}
  </body>
</html>
