---
layout: default
---

<div class="row">
  <div class="col-sm-8 blog-main">
    <div class="blog-post">
      <h1 class="blog-post-title">{{ page.title }}</h1>
      <div class="blog-post-meta">{% include author.html %}</div>

      {{ content }}
    </div>

    <div class="pager">
      <ul>
      {% if page.previous %}
        <li><a href="{{ BASE_PATH }}{{ page.previous.url }}" title="{{ page.previous.title }}">&larr; Zurück</a></li>
      {% else %}
        <li class="disabled"><a>&larr; Zurück</a></li>
      {% endif %}
        <li><a href="/archive.html">Archiv</a></li>
      {% if page.next %}
        <li><a href="{{ BASE_PATH }}{{ page.next.url }}" title="{{ page.next.title }}">Vor &rarr;</a></li>
      {% else %}
        <li class="disabled"><a>Vor &rarr;</a>
      {% endif %}
      </ul>
    </div>
    <hr>
  </div>

  <div class="span4">
    <h4>Published</h4>
    <div class="date"><span>{{ page.date | date_to_long_string }}</span></div>

  {% unless page.tags == empty %}
    <h4>Tags</h4>
    <ul class="tag_box">
    {% assign tags_list = page.tags %}
    {% include JB/tags_list %}
    </ul>
  {% endunless %}
  </div>
</div>
