---
---
{% assign BASE_PATH = nil %}

<!doctype html>
<html lang="de">

  <head>
    <meta charset="utf-8">

    <title>{{ page.title }}</title>

    <meta name="description" content="{{ page.description }}">
    <meta name="author" content="{{ site.author.name }}">
    <link rel="shortcut icon" href="/assets/kapitel26.ico">
    <meta name="google-site-verification" content="L2SRdiaRX4CbFkVt0oNZy8i3wwV1YKPIQo9KQxMPYDA" />

    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, minimal-ui">

    <link rel="stylesheet" href="/slides/css/reveal.css">
    <link rel="stylesheet" href="/slides/css/theme/night.css" id="theme">

    <!-- For syntax highlighting -->
    <link rel="stylesheet" href="/slides/lib/css/zenburn.css">

    <!-- Printing and PDF exports -->
    <script>
      var link = document.createElement( 'link' );
      link.rel = 'stylesheet';
      link.type = 'text/css';
      link.href = window.location.search.match( /print-pdf/gi ) ? '/slides/css/print/pdf.css' : '/slides/css/print/paper.css';
      document.getElementsByTagName( 'head' )[0].appendChild( link );
    </script>

  </head>

  <body>

<div class="reveal">

  <div class="slides">

{{ content }}

  </div>

</div>

    <script src="/slides/lib/js/head.min.js"></script>
    <script src="/slides/js/reveal.js"></script>

    <script>

      // Full list of configuration options available at:
      // https://github.com/hakimel/reveal.js#configuration
      Reveal.initialize({
        controls: true,
        progress: true,
        history: true,
        center: true,

        transition: 'slide', // none/fade/slide/convex/concave/zoom

        // Optional reveal.js plugins
        dependencies: [
          { src: '/slides/lib/js/classList.js', condition: function() { return !document.body.classList; } },
          { src: '/slides/plugin/markdown/marked.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
          { src: '/slides/plugin/markdown/markdown.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
          { src: '/slides/plugin/highlight/highlight.js', async: true, condition: function() { return !!document.querySelector( 'pre code' ); }, callback: function() { hljs.initHighlightingOnLoad(); } },
          { src: '/slides/plugin/zoom-js/zoom.js', async: true },
          { src: '/slides/plugin/notes/notes.js', async: true }
        ]
      });

    </script>
  </body>
</html>
