---
---
<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

		<title>reveal.js</title>

		<link rel="stylesheet" href="/assets/reveal.js/dist/reveal.css">
		{% if page.revealjs_theme %}
				<link rel="stylesheet" href="/assets/reveal.js/dist/theme/{{ page.revealjs_theme }}.css">
		{% else %}
				<link rel="stylesheet" href="/assets/reveal.js/dist/theme/black.css">
		{% endif %}

		<!-- Theme used for syntax highlighting of code -->
		<link rel="stylesheet" href="/assets/reveal.js/plugin/highlight/monokai.css">
		{% if page.custom_css %}
		<link rel="stylesheet" href="/assets/{{ page.custom_css }}.css">
		{% endif %}
	</head>
	<body>
		<div class="reveal">
			<div class="slides">
        {{ content }}
			</div>
		</div>

		<script src="/assets/reveal.js/dist/reveal.js"></script>
		<script src="/assets/reveal.js/plugin/zoom/zoom.js"></script>
		<script src="/assets/reveal.js/plugin/notes/notes.js"></script>
		<script src="/assets/reveal.js/plugin/search/search.js"></script>
		<script src="/assets/reveal.js/plugin/markdown/markdown.js"></script>
		<script src="/assets/reveal.js/plugin/highlight/highlight.js"></script>
		<script>

			// Also available as an ES module, see:
			// https://revealjs.com/initialization/
			Reveal.initialize({
				controls: true,
				progress: true,
				center: true,
				hash: true,

				// Learn about plugins: https://revealjs.com/plugins/
				plugins: [ RevealZoom, RevealNotes, RevealSearch, RevealMarkdown, RevealHighlight ]
			});

		</script>

	</body>
</html>
